@import "~bulma/bulma";
@import "./custom-bulma.scss";
@import "./animation.scss";

:root {
  --primary-color: #383838;
  --secondary-color: #344C43;
  --active-color: #FDA64B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-just-another-hand-down-here);
}

body {
  color: rgb(var(--primary-color));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.white-space-nowrap {
  white-space: nowrap;
}